<nav class="navbar navbar-dark sticky-top" style="background-color: rgba(0,0,0,0.8)">
    <h6  class="text-uppercase font-weight-bold text-white">Project <a class="newcolor" style="-webkit-text-stroke: 0px black;">X</a></h6>



        <form class="form" style="">






{% if is_granted('IS_AUTHENTICATED_FULLY') %}


                <a class="btn btn-outline-light mr-1 {% if app.request.attributes.get('_route') == 'homepage' %} active {% endif %}" href="{{ path('homepage') }}">
                    {{ 'NAV.HOME' | trans }}
                </a>
                <a class="btn btn-outline-light mr-1 {% if app.request.attributes.get('_route')  == 'add-picture' %}active{% endif %}" href="{{ path('add_picture') }}">
                    {{ 'NAV.ADDPICTURE'|trans }}
                </a>
                <a class="btn btn-outline-light mr-1 {% if app.request.attributes.get('_route')  == 'app_logout' %}active{% endif %}" href="{{ path('app_logout') }}">
                        {{ 'NAV.LOGOUT'|trans }}
                </a>
                <a class="btn btn-outline-light mr-1 {% if app.request.attributes.get('_route') == 'term_of_service' %} active {% endif %}" href="{{ path('term_of_service') }}">
                    {{ 'NAV.TERMS' | trans }}
                </a>





                <h5 class="text-white mt-1 text-center">{{ 'NAV.LOGGED_AS'|trans({'%name%' : app.user.username()}) }}</h5>

            {% else %}

                <a class="btn btn-outline-light mr-1 {% if app.request.attributes.get('_route') == 'app_login' %} active {% endif %}" href="{{ path('app_login') }}">
                    {{ 'NAV.LOGIN' | trans }}
                </a>

                <a class="btn btn-outline-light mr-1 {% if app.request.attributes.get('_route')  == 'app_register' %}active{% endif %}" href="{{ path('app_register') }}">
                    {{ 'NAV.REGISTER'|trans }}
                </a>
                <a class="btn btn-outline-light mr-1 {% if app.request.attributes.get('_route') == 'term_of_service' %} active {% endif %}" href="{{ path('term_of_service') }}">
                    {{ 'NAV.TERMS' | trans }}
                </a>


{% endif %}


    </form>
</nav>


